@import '@fontsource/fira-mono';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: amplitude-wide;
		font-style: normal;
		font-weight: 300;
		src: url('/fonts/amplitude/AmplitudeWide-Book.woff') format('woff');
	}
	@font-face {
		font-family: amplitude-wide;
		font-style: normal;
		font-weight: 400;
		src: url('/fonts/amplitude/AmplitudeWide-Regular.woff') format('woff');
	}
	@font-face {
		font-family: amplitude-wide;
		font-style: normal;
		font-weight: 500;
		src: url('/fonts/amplitude/AmplitudeWide-Medium.woff') format('woff');
	}
}

body {
	font-family: amplitude-wide, sans-serif;
}
